docker pull qdrant/qdrant
docker run -d -p 6333:6333 qdrant/qdrant
llama-index-multi-modal-llms-gemini
llama-index-vector-stores-qdrant
llama-index-embeddings-gemini
llama-index-llms-gemini
llama-index
google-generativeai>=0.3.0
matplotlib 
qdrant_client
git+https://github.com/openai/CLIP.git
replicate
pandas
numpy
os
llama_index.core
matplotlib.pyplot
PIL
clip
torch
textwrap
